<% content_for :title do %>Consommation électrique<% end %>
<div class="gridster">
  <ul>
    
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="instantE" data-view="List" data-unordered="true" data-title="Instantanée"></div>
    </li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cumulE" data-view="List" data-unordered="true" data-title="Cumulée"></div>
    </li>
	
  </ul>

  
</div>