<% content_for :title do %>Systèmes<% end %>
<div class="gridster">
  <ul>
    
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="picasso" data-view="List" data-unordered="true" data-title="Picasso"></div>
    </li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="watchdog" data-view="List" data-unordered="true" data-title="Watchdog"></div>
    </li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="domify" data-view="List" data-unordered="true" data-title="Domify"></div>
    </li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="peon" data-view="List" data-unordered="true" data-title="Peon"></div>
    </li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="loki" data-view="List" data-unordered="true" data-title="Loki"></div>
    </li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="optimus" data-view="List" data-unordered="true" data-title="Optimus"></div>
    </li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="raspbmc" data-view="List" data-unordered="true" data-title="Raspbmc" style="background-color:#ff9618"></div>
    </li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="d2r2" data-view="List" data-unordered="true" data-title="D2R2" style="background-color:#ff9618"></div>
    </li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="telsa" data-view="List" data-unordered="true" data-title="Telsa" style="background-color:#ff9618"></div>
    </li>
	

  
</div>