<% content_for :title do %>Températures<% end %>
<div class="gridster">
  <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="device5" data-view="Number" data-title="Temp. Extérieure" data-suffix="°C"></div>
    </li>

      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="device11" data-view="Number" data-title="Temp. DC" data-suffix="°C" style="background-color:#ff9618"></div>
    </li>
    
      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="device13" data-view="Number" data-title="Temp. A." data-suffix="°C" style="background-color:#ff2218"></div>
    </li>
	
      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="device14" data-view="Number" data-title="Temp. M." data-suffix="°C" style="background-color:#ff2218"></div>
    </li>
	
  </ul>
</div> 
